body {
  background-color: transparent;
  font-family: source code pro !important;
}

form {
  transition: all 4% ease-in-out;
}

form .submit {
  background: lightgrey;
  border-color: transparent;
  color: white;
}

form .submit:hover {
  background: darkgrey;
  cursor: pointer;
}

html {
  background-color: #9f0721;
}

ul {
  list-style-type: none;
}

ul.row {
  padding-left: 0% !important;
}

.aboutHeaders {
  font-weight: 600;
  padding: 0.5% 0%;
  font-size: 1.7vw;
}

.aboutImgDiv {
  width: 58%;
}

.aboutSection {
  background: white;
}

.aboutText {
  font-size: 0.85vw;
}

.aboutTextDiv {
  width: 47%;
  padding-left: 3%;
}

.buttonStyle {
  color: white;
  background: #9f0712;
  border-radius: 100px !important;
  font-size: 1vw !important;
}

.buttonStyle:hover {
  color: slategray;
}

.clear {
  clear: both;
}

.contactBg {
  background-image: url(./images/valContact.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 56vw;
  max-width: 100vw;
}

.contact-form {
  width: 35%;
  float: right;
  position: relative;
  top: 8vw;
  color: white;
  font-size: 1.3vw;
}

.contact-input {
  width: 22vw;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
}

.contact-input:focus {
  outline: double white;
  border-bottom: none;
}

.contact-title {
  text-align: center;
  color: white;
  transition: all 4% ease-in-out;
}

.contact-title h1 {

}

.copyrightText {
  width: 75%;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  color: #9f0712 !important;
  background-color: transparent !important;
}

.dropdown-menu {
  border: none !important;
  display: inline-block !important;
}

.effect-text-online-mkls {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}

.fab {
  color: white;
  font-size: 1.5vw;
}

.faIcons {
  padding-top: 1rem;
  padding-left: 100%;
}

.flex {
  display: flex;
}

.floatRight {
  float: right;
}

.footer {
  background-color: #9f0712;
  color: white;
}

.footerMargin {
  padding-top: 1rem;
}

.form-control {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid white !important;
  color: white !important;
  margin: 0% 25%;
  width: 50% !important;
}

.fullWidth {
  width: 100vw;
}

.gallery {
  margin-top: 5%;
}

.header {
  background: transparent;
}

.icons {
  float: right;
}

.iframe {
  z-index: 99;
}

.imgFill {
  width: 100%;
  height: 100%;
}

.landing {
  padding: 1% 10%;
}

.landingAbout {
  padding: 5% 10% 3% 10%;
}

.landingBg {
  background-image: url(./images/landing.jpg);
  background-size: cover;
  position: relative;
  min-height: 56vw;
}

.landingCenterText {
  font-family: source code pro;
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 25%;
  left: 3%;
  line-height: 250%;
}

.listenImg {
  background-image: url('./images/ListenToYourMother.png');
  height: 100%;
}

.logo {
  width: 50%;
}

.logo h1 a {
  font-family: "Homemade Apple";
  text-decoration: none;
  font-size: 3vw;
  color: white;
  position: absolute;
  top: 0;
}

.mediaDiv {
  cursor: pointer;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.nav-item {
  font-family: source code pro;
  display: grid;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
}

.nav-link:hover {
  color: #9f0712;
}

.row2 {
  margin: 5vw 0vw 0vw 0vw;
}

.talkLinks {
  width: 50%;
  height: 22vw;
  padding: 0% 5% 5% 5%;
}

.talksButtons {
  padding: 1%;
  height: fit-content;
  width: 15%;
  margin: 0% 5%;
}

.upArrow {
  width: 4%;
  height: auto;
  float: right;
}

.upArrowAbout {
  position: relative;
  top: -3vw;
  left: 5vw;
}

.weRiseImg {
  width: 50%;
}

.whiteText {
  color: white !important;
  margin: 1vw 0vw;
}

#about {
  margin: 2% 0%;
}

#bookMeButton {
  position: relative;
  top: 5vh;
  left: 7%;
  padding: 3% 13%;
}

#contactButton {
  margin-top: 1vw;
}

#contactForm {
  background: transparent;
}

#contactInfo {
  position: relative;
  top: 6vw;
  color: white;
  width: max-content;
}

#contactLogo {
  position: relative;
}

#dropdownStyling {
  background-color: transparent;
}

#nav-container {
  width: 50%;
}

#speaking {
  background: black;
  padding-top: 2vw;
  padding-bottom: 5vw;
}

/* #talk1 {
  padding: 5%;
} */

#talksHeading {
  color: white;
  padding-top: 1%;
  width: 70%;
}

/* #youTube1 {
  background-image: url(./images/YouTube1.png);
  z-index: 20;
  padding: 0%;
  margin: 5%;
  background-size: cover;
} */

