// Keyframe animations
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  30% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  30% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  30% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  30% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// -------------------------------------------------------------------------------
//Mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gradient {
  background-image: linear-gradient(
    to right bottom,
    $color-grey-dark-2,
    $color-black
  );
}

@mixin fade-timing {
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin fadeRight {
  animation-name: fadeRight;
  @include fade-timing;
}

@mixin fadeLeft {
  animation-name: fadeLeft;
  @include fade-timing;
}

@mixin fadeDown {
  animation-name: fadeDown;
  @include fade-timing;
}

@mixin fadeUp {
  animation-name: fadeUp;
  @include fade-timing;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == huge-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

// ---------------------------------- VARIABLES
// COLORS
$color-red: #9f0712;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2.5rem;

// -------------------------------------------------------------------------------
// CSS declarations for screens between 1200px width and 2000 px width
a:hover {
  text-decoration: none;
}

body {
  background-color: transparent;
  font-family: source code pro !important;
  min-width: 320px !important;
  width: auto !important;
  z-index: -1;
}

footer {
  height: 6vw;
}

form {
  transition: all 4% ease-in-out;
}

form .submit {
  background: lightgrey;
  border-color: transparent;
  color: white;
}

form .submit:hover {
  background: darkgrey;
  cursor: pointer;
}

html {
  background-color: $color-red;
}

ul {
  list-style-type: none;
}

ul.row {
  padding-left: 0% !important;
}

.aboutHeaders {
  font-weight: 600;
  padding: 0.5% 0%;
  font-size: 1.7vw;
}

.aboutImgDiv {
  width: 58%;
  @include fadeRight;
}

.aboutSection {
  background: white;
}

.aboutText {
  font-size: 0.85vw;
}

.aboutTextDiv {
  width: 47%;
  padding-left: 3%;
  @include fadeLeft;
}

.blackBackground {
  background-color: black !important;
}

.bookMeFade {
  @include fadeUp;
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: red;
    color: $color-white;

    &::after {
      background-color: red;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: red;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid red;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: red;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.buttonStyle {
  color: white;
  background: $color-red;
  border-radius: 100px !important;
  font-size: 1.2vw !important;
}

.buttonStyle:hover {
  color: slategray;
}

.card {
  // FUNCTIONALITY
  position: relative;
  height: 35rem;
  border: 3px solid transparent;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  &:hover {
    transition: .3s;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    z-index: 20;
  }

  &:not(:last-child) {
    margin-left: 2rem !important;
  }

  &__side {
    height: 34.55rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: url(images/VRegas_HS1_cropped.jpg);
    }

    &--2 {
      background-image: url(images/Val_speaking2_cropped.jpg);
    }

    &--3 {
      background-image: url(images/VRegas1_cropped.jpg);
    }

    &--4 {
      background-image: url(images/VRegas_HS2_cropped.jpg);
    }
  }

  &__details {
    padding: 1rem 0.5rem;
    color: $color-black;

    &:hover {
      color: $color-grey-dark;
    }
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 1rem;
    font-weight: 100;
  }

  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}

.carousel {
  width: 56% !important;
  margin: auto;
}

.carousel.carousel-slider {
  margin: auto !important;
}

.carousel.carousel-slider .control-arrow {
  top: -15vw !important;
  font-size: 26px;
  bottom: 0;
  margin-left: 15vw;
  position: fixed !important;
  padding: -14px !important;
  z-index: 99;
  opacity: 1 !important;
  color: #fff;
  font-size: 26px;
  margin-top: 18vw !important;
  padding: 5px;
  height: 50%;
}

.carousel .carousel-status {
  position: absolute;
  top: -0.2vw !important;
  right: 3vw !important;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}

.carousel .control-dots {
  bottom: 1vw;
  left: 0.75vw;
  margin: auto;
}

.carousel .control-next.control-arrow {
  right: 15vw !important;
}

.carousel .slide img {
  width: 50% !important;
}

.carousel .slide .legend {
  bottom: 26vw !important;
  left: 65.4vw !important;
  position: absolute;
  margin-left: -13% !important;
  width: 20% !important;
  background: #272727 !important;
  color: #fff;
  padding: 10px;
  font-size: 1vw;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
  border-radius: 0px !important;
}

.carousel .slide .legend:hover {
  background-color: #272727;
}

.carousel .slider-wrapper {
  height: 33vw;
}

.carousel .thumbs {
  padding: 0;
}

.carousel .thumbs-wrapper {
  margin-top: 2vw !important;
  overflow: hidden;
}

.carousel-root {
  margin-top: 3vw;
}

.clear {
  clear: both;
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #dce5d8;
  font-size: 2.5rem;
  position: absolute;
  top: 2%;
  right: 10%;
  z-index: 10;
}

.contactBg {
  background-image: url(./images/valContact.jpg);
  background-size: cover;
  background-attachment: initial;
  min-height: 56vw;
  max-width: 100vw;
}

.contactDropdownOpen {
  color: white;
  position: relative;
  top: 5rem;
}

.contactDropdownOpen:hover {
  color: gray;
}

.contact-form {
  width: 35%;
  float: right;
  position: relative;
  top: 8vw;
  color: white;
  font-size: 1.3vw;
  @include fadeLeft;
}

.contact-input {
  width: 22vw;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
}

.contact-input:focus {
  outline: double white;
  border-bottom: none;
}

.contact-title {
  text-align: center;
  color: white;
  transition: all 4% ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.copyrightText {
  width: 80%;
  float: left;
  vertical-align: middle;
}

.copyrightTextFontSize {
  font-size: 1.2rem;
}

.dropdown-menu {
  position: absolute;
  top: 85% !important;
  left: 0;
  z-index: 1000 !important;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border-radius: 0.25rem;
  border: none !important;
  display: inline-block !important;
}

.effect-text-online-mkls {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}

.fab {
  color: white;
  font-size: 1.5vw;
}

.fa-bars {
  color: white;
  position: relative;
  top: 1rem;
  right: -1rem;
  cursor: pointer;
  @include fadeDown;
}

.faIcons {
  padding-left: 2rem;
  vertical-align: center;
}

.faIcons-ss:not(:last-child) {
  padding-right: 10%;
}

.flex {
  display: flex;
}

.floatRight {
  float: right;
}

.footer {
  background-color: transparent;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1% 10%;
}

.footerBg {
  background-image: url(images/vrlanding_footer.png);
  background-attachment: fixed;
  min-height: 37vw;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footerFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  @include fadeUp;
}

.footerMargin {
  padding-top: 1rem;
}

.form-control {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid white !important;
  color: white !important;
  margin: 0% 25%;
  width: 50% !important;
}

.fullWidth {
  width: 100vw;
}

.gallery {
  margin-top: 5%;
}

.header {
  background: transparent;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.icons {
  width: 20%;
  padding-right: 2%;
}

.icons-ss {
  position: relative;
  top: 10%;
}

.iconFloat {
  float: right;
}

.iframe {
  z-index: 99;
}

.imgFill {
  width: 100%;
  height: 100%;
}

.landing {
  padding: 2% 10% 0% 10%;
}

.landingAbout {
  padding: 5% 10% 3% 10%;
}

.landingBg {
  background-image: url(images/vrlanding-med.jpg);
  background-attachment: fixed;
  min-height: 64vw;
  max-width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingCenterText {
  font-family: source code pro;
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 25%;
  left: 1%;
  line-height: 250%;
  padding: 2% 10% 0% 10%;
  @include fadeRight;
}

.logo {
  width: 40%;
  padding-top: 2%;
  @include fadeDown;
}

.logo h1 a {
  font-family: "Homemade Apple";
  text-decoration: none;
  font-size: 3vw;
  color: white;
  position: relative;
  top: 0;
}

.mediaDiv {
  cursor: pointer;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-ss {
  position: relative;
  top: -5%;
}

.nav-item {
  font-family: source code pro;
  display: grid;
}

.nav-item-ss {
  padding-top: 1rem;
}

.nav-item-ss:hover {
  text-decoration: none !important;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: gray;
}

.nav-link-ss {
  font-size: 1.2rem;
  color: white;
}

.nav-link-ss:hover {
  color: gray;
}

.portfolioBodyText {
  font-size: 1vw;
}

.portfolioCard {
  background: white;
  width: 100%;
  height: 100%;
  padding: 3%;
  border-left: solid 1.5vw #272727 !important;
  color: black;
}

.portfolioCard:hover {
  color: gray;
}

.portfolioPic {
  width: 56vw;
  height: 28vw;
  border: solid 1.5vw #272727;
}

.portfolioTitleText {
  color: $color-red;
  font-size: 2vw;
  font-weight: bolder;
  font-family: Homemade Apple;
}

.portfolioTypeText {
  font-weight: bolder;
  font-size: 1.4vw;
}

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
    );
  }
}

.row2 {
  margin: 5vw 0vw 0vw 0vw;
}

.section-tours {
  background-color: $color-red;
  padding: 2rem;
  margin-top: 3rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.sidebar {
  height: 100vh;
  width: 25%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 75%;
  background-color: $color-red;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  @include fadeLeft;
}

.socialImg {
  width: 1.6rem;
  height: auto;
}

.talkLinks {
  width: 50%;
  height: 22vw;
  padding: 0% 5% 5% 5%;
  @include fadeUp;
}

// .talksButtons {
//   padding: 3% 10%;
// }

.talksButtonsTopPadding {
  padding-top: 1rem;
}

.techText {
  color: $color-red;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.upArrow {
  width: 4%;
  height: auto;
  float: right;
}

.upArrowAbout {
  position: relative;
  top: -3vw;
  left: 5vw;
}

.weRiseImg {
  width: 50%;
}

.whiteText {
  color: white !important;
  margin: 1vw 0vw;
}

#aboutId {
  margin: 1rem 0rem;
}

#bookMeButton {
  position: relative;
  top: 5vh;
  left: 0;
}

#contactButton {
  margin-top: 1vw;
}

#contactForm {
  background: transparent;
}

#contactInfo {
  position: relative;
  top: 6vw;
  color: white;
  width: max-content;
}

#contactLogo {
  position: relative;
}

#dropdown-item,
#dropdownItemSS {
  color: white !important;
  font-size: 1rem;
}

#dropdown-item:hover {
  color: grey !important;
  background-color: transparent !important;
  text-decoration: none;
}

#dropdownItemSS:hover {
  color: gray !important;
  background-color: transparent !important;
  text-decoration: none;
}

#dropdownStyling {
  background-color: transparent;
  margin-top: 0.25rem;
  padding-left: 1rem;
}

#hamburger-nav {
  display: none;
}

#homeBackgroundColor {
  background-color: black;
  height: 105vh;
}

#nav-container {
  width: 60%;
  @include fadeDown;
}

#portfolio {
  background-color: black;
  height: 60vw;
}

#portfolioLinks {
  @include fadeUp;
}

#portfolioLinks a:hover {
  text-decoration: none;
}

#speaking {
  background: black;
  padding-top: 2vw;
  padding-bottom: 5vw;
  margin-top: 1rem;
  height: 100%;
}

#talksBook {
  width: 15%;

  @include fadeRight;
}

#talksBrowse {
  width: 15%;

  @include fadeLeft;
}

#talksHeading {
  color: white;
  padding-top: 1%;
  width: 70%;

  @include fadeDown;
}

// -------------------------------------------------------------------------------
// Media queries / max-width

@media only screen and (max-width: 1400px) {
  #portfolio {
    height: 90vh;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel-status {
    display: none !important;
  }

  .icons {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }

  #nav-container {
    display: none;
  }

  #portfolioLinks {
    position: relative;
    top: 9vw;
  }

  #speaking {
    height: 90vw;
  }
}

@media only screen and (max-width: 1068px) {
  .navbar {
    padding: 0.5rem 0.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .logo h1 a {
    top: 2vw;
  }

  #speaking {
    margin-top: 3rem;
  }

  #talksBrowse {
    width: fit-content;
  }
}

@media only screen and (max-width: 900px) {
  footer {
    display: none;
  }

  .homeCenter {
    min-width: 100vw;
  }

  .aboutHeaders {
    font-size: 1.4rem;
  }

  .aboutText {
    font-size: 0.9rem;
    line-height: 1;
  }

  .aboutImgDiv {
    width: 100vw;
    height: 80%;
    position: absolute;
    padding: 2vw 20vw;
  }

  .aboutTextDiv {
    width: 100%;
    position: absolute;
    padding: 0 20%;
    top: 60vw;
    font-size: 2rem;
    color: white;
  }

  .buttonStyle {
    font-size: 0.8rem !important;
  }

  .carousel {
    width: 80% !important;
  }

  .carousel .control-dots {
    display: none;
  }

  .contactBg {
    background-image: url(images/valContact-900.jpg);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-form {
    margin: 84vw 50vw 16vw 50vw;
    font-size: 2vw;
  }

  .contact-input {
    width: 50vw;
  }

  .copyrightTextFontSize {
    font-size: 1rem;
  }

  .icons {
    padding-right: 2%;
  }

  .landingAbout {
    padding: 0;
  }

  .landingCenterText {
    top: 55%;
    font-size: 1.1rem;
  }

  .navbar-ss {
    margin-top: 0;
  }

  .portfolioPic {
    height: 30vw;
    width: 60vw;
  }

  .socialImg {
    width: 1.3rem;
  }

  #bookMeButton {
    top: 3vh;
  }

  #contactButton {
    background-color: white;
    color: $color-red;
    margin-top: 5vw;
  }
}

@media only screen and (max-width: 800px) {
  .sidebar {
    width: 30%;
    left: 70%;
  }

  #portfolioLinks {
    top: 16vw;
  }

  #speaking {
    margin-top: 3rem;
    padding-top: 5rem;
    height: 105vw;
  }
}

@media only screen and (max-width: 750px) {
  .aboutTextDiv {
    top: 65vw;
  }

  .contact-form {
    margin-top: 65vw;
  }

  .row2 {
    margin-top: 15vw;
    margin-bottom: 50%;
  }

  .techText {
    font-size: 0.7rem;
  }

  .whiteText {
    padding-bottom: 10%;
    font-size: 0.85rem;
  }

  #speaking {
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .aboutTextDiv {
    top: 68vw;
  }

  .aboutHeaders {
    font-size: 1.2rem;
  }

  .carousel * {
    display: block;
  }

  .carousel .slide img {
    width: 100% !important;
    height: auto;
  }

  .carousel .slider-wrapper {
    height: 100vw;
    display: inline-block;
  }

  .contactBg {
    background-image: url(images/valContact-ss.jpg);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-form {
    margin-top: 60vh;
  }

  .landingBg {
    background-image: url(images/vrlanding-med-mobile.jpg);
    height: 69vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .logo {
    width: 60%;
  }

  .logo h1 a {
    font-size: 6vw;
    top: 3.5vw;
    display: inline-block;
  }

  .landingCenterText {
    line-height: 1.5;
    top: 71vh;
  }

  .nav-link-ss {
    font-size: 1rem;
  }

  .portfolioCard {
    position: absolute;
    top: 65vw;
    left: 14%;
    width: 72%;
    border-left: none !important;
    text-align: center;
    overflow: auto;
  }

  .row2 {
    margin: 0;
    margin-top: 2vw;
  }

  .talkLinks {
    width: 100%;
    height: fit-content;
  }

  .talksButtons {
    padding: 0% 3% 1% 3%;
  }

  .techText {
    font-size: 0.7rem;
  }

  #momAdvantage {
    height: 26vh;
  }

  #portfolio {
    height: 100vh;
  }

  #portfolioLinks {
    top: 5%;
  }

  #properCare {
    height: 26vh;
  }

  #speaking {
    height: fit-content;
    padding-top: 2rem;
  }

  #talksBook {
    width: fit-content;
  }
}

@media only screen and (max-width: 500px) {
  .copyrightTextFontSize {
    font-size: 0.7rem;
  }

  .faIcons {
    padding-left: 0.6rem;
  }

  .icons {
    padding: 0;
  }

  .sidebar {
    width: 40%;
    left: 60%;
  }

  .socialImg {
    width: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .aboutHeaders {
    font-size: 1rem;
  }

  .aboutText {
    font-size: 0.85rem;
  }

  .aboutTextDiv {
    top: 74vw;
  }

  .nav-link-ss {
    font-size: 0.9rem;
  }

  .sidebar {
    width: 45%;
    left: 55%;
  }

  #dropdownItemSS {
    font-size: 0.7rem;
  }
}

// -------------------------------------------------------------------------------
// Media queries / min-width

@media only screen and (min-width: 1400px) {
  .nav-link {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1800px) {
  .landingCenterText {
    top: 20%;
  }
}

@media only screen and (min-width: 2000px) {
  .copyrightTextFontSize {
    font-size: 1.6rem;
  }

  .nav-link {
    font-size: 1.8rem;
  }

  #dropdown-item {
    font-size: 1.5rem;
  }
}

// -------------------------------------------------------------------------------
// Media queries / max-height

@media only screen and (max-height: 600px) {
  .navbar-ss {
    margin-top: -28%;
  }

  .nav-link-ss {
    font-size: 1.1rem;
  }

  #portfolio {
    height: 150vh;
  }
}
