@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  30% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  30% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  30% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  30% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade-timing {
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin fadeRight {
  animation-name: fadeRight;
  @include fade-timing;
}

@mixin fadeLeft {
  animation-name: fadeLeft;
  @include fade-timing;
}

@mixin fadeDown {
  animation-name: fadeDown;
  @include fade-timing;
}

@mixin fadeUp {
  animation-name: fadeUp;
  @include fade-timing;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: transparent;
  font-family: source code pro !important;
  min-width: 320px !important;
  width: auto !important;
}

footer {
  height: 6vw;
}

form {
  transition: all 4% ease-in-out;
}

form .submit {
  background: lightgrey;
  border-color: transparent;
  color: white;
}

form .submit:hover {
  background: darkgrey;
  cursor: pointer;
}

html {
  background-color: #9f0712;
}

ul {
  list-style-type: none;
}

ul.row {
  padding-left: 0% !important;
}

.aboutHeaders {
  font-weight: 600;
  padding: 0.5% 0%;
  font-size: 1.7vw;
}

.aboutImgDiv {
  width: 58%;
  @include fadeRight;
}

.aboutSection {
  background: white;
}

.aboutText {
  font-size: 0.85vw;
}

.aboutTextDiv {
  width: 47%;
  padding-left: 3%;
  @include fadeLeft;
}

.blackBackground {
  background-color: black !important;
}

.bookMeFade {
  @include fadeUp;
}

.buttonStyle {
  color: white;
  background: #9f0712;
  border-radius: 100px !important;
  font-size: 1vw !important;
}

.buttonStyle:hover {
  color: slategray;
}

.carousel {
  width: 56% !important;
  margin: auto;
}

.carousel.carousel-slider {
  margin: auto !important;
}

.carousel.carousel-slider .control-arrow {
  top: -15vw !important;
  font-size: 26px;
  bottom: 0;
  margin-left: 15vw;
  position: fixed !important;
  padding: -14px !important;
  z-index: 99;
  opacity: 1 !important;
  color: #fff;
  font-size: 26px;
  margin-top: 18vw !important;
  padding: 5px;
  height: 50%;
}

.carousel .carousel-status {
  position: absolute;
  top: -0.2vw !important;
  right: 3vw !important;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}

.carousel .control-dots {
  bottom: 1vw;
  left: 0.75vw;
  margin: auto;
}

.carousel .control-next.control-arrow {
  right: 15vw !important;
}

.carousel .slide img {
  width: 50% !important;
}

.carousel .slide .legend {
  bottom: 26vw !important;
  left: 65.4vw !important;
  position: absolute;
  margin-left: -13% !important;
  width: 20% !important;
  background: #272727 !important;
  color: #fff;
  padding: 10px;
  font-size: 1vw;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
  border-radius: 0px !important;
}

.carousel .slide .legend:hover {
  background-color: #272727;
}

.carousel .slider-wrapper {
  height: 33vw;
}

.carousel .thumbs {
  padding: 0;
}

.carousel .thumbs-wrapper {
  margin-top: 2vw !important;
  overflow: hidden;
}

.carousel-root {
  margin-top: 3vw;
}

.clear {
  clear: both;
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #dce5d8;
  font-size: 3rem;
  position: relative;
  top: -1%;
  right: -70%;
}

.contactBg {
  background-image: url(./images/valContact.jpg);
  background-size: cover;
  background-attachment: initial;
  min-height: 56vw;
  max-width: 100vw;
}

.contactDropdownOpen {
  color: white;
  position: relative;
  top: 5rem;
}

.contactDropdownOpen:hover {
  color: gray;
}

.contact-form {
  width: 35%;
  float: right;
  position: relative;
  top: 8vw;
  color: white;
  font-size: 1.3vw;
  @include fadeLeft;
}

.contact-input {
  width: 22vw;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
}

.contact-input:focus {
  outline: double white;
  border-bottom: none;
}

.contact-title {
  text-align: center;
  color: white;
  transition: all 4% ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.copyrightText {
  width: 80%;
  float: left;
  vertical-align: middle;
}

.copyrightTextFontSize {
  font-size: 1.2rem;
}

.dropdown-menu {
  position: absolute;
  top: 85% !important;
  left: 0;
  z-index: 1000 !important;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border-radius: 0.25rem;
  border: none !important;
  display: inline-block !important;
}

.effect-text-online-mkls {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}

.fab {
  color: white;
  font-size: 1.5vw;
}

.fa-bars {
  color: white;
  position: relative;
  top: 1rem;
  right: -1rem;
  cursor: pointer;
  @include fadeDown;
}

.faIcons {
  padding-left: 2rem;
  vertical-align: center;
}

.flex {
  display: flex;
}

.floatRight {
  float: right;
}

.footer {
  background-color: transparent;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1% 10%;
}

.footerMargin {
  padding-top: 1rem;
}

.footerFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  @include fadeUp;
}

.form-control {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid white !important;
  color: white !important;
  margin: 0% 25%;
  width: 50% !important;
}

.fullWidth {
  width: 100vw;
}

.gallery {
  margin-top: 5%;
}

.header {
  background: transparent;
}

.icons {
  width: 20%;
  padding-right: 2%;
}

.iconFloat {
  float: right;
}

.iframe {
  z-index: 99;
}

.imgFill {
  width: 100%;
  height: 100%;
}

.landing {
  padding: 2% 10% 0% 10%;
}

.landingAbout {
  padding: 5% 10% 3% 10%;
}

.landingBg {
  background-image: url(images/vrlanding-med.jpg);
  background-attachment: initial;
  min-height: 64vw;
  max-width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingCenterText {
  font-family: source code pro;
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 25%;
  left: 1%;
  line-height: 250%;
  padding: 2% 10% 0% 10%;
  @include fadeRight;
}

.listenImg {
  background-image: url("./images/ListenToYourMother.png");
  height: 100%;
}

.logo {
  width: 40%;
  padding-top: 2%;
  @include fadeDown;
}

.logo h1 a {
  font-family: "Homemade Apple";
  text-decoration: none;
  font-size: 3vw;
  color: white;
  position: relative;
  top: 0;
}

.mediaDiv {
  cursor: pointer;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-ss {
  margin-top: -20%;
}

.nav-item {
  font-family: source code pro;
  display: grid;
}

.nav-item-ss {
  padding-top: 1rem;
}

.nav-item-ss:hover {
  text-decoration: none !important;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: gray;
}

.nav-link-ss {
  font-size: 1.5rem;
  color: white;
}

.nav-link-ss:hover {
  color: gray;
}

.portfolioBodyText {
  font-size: 1vw;
}

.portfolioCard {
  background: white;
  width: 100%;
  height: 100%;
  padding: 3%;
  border-left: solid 1.5vw #272727 !important;
  color: black;
}

.portfolioCard:hover {
  color: gray;
}

.portfolioPic {
  width: 56vw;
  height: 28vw;
  border: solid 1.5vw #272727;
}

.portfolioTitleText {
  color: #9f0712;
  font-size: 2vw;
  font-weight: bolder;
  font-family: Homemade Apple;
}

.portfolioTypeText {
  font-weight: bolder;
  font-size: 1.4vw;
}

.row2 {
  margin: 5vw 0vw 0vw 0vw;
}

.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 70%;
  background-color: #9f0712;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  @include fadeLeft;
}

.socialImg {
  width: 1.6rem;
  height: auto;
}

.talkLinks {
  width: 50%;
  height: 22vw;
  padding: 0% 5% 5% 5%;
  @include fadeUp;
}

.talksButtons {
  padding: 1%;
  height: fit-content;
  width: 15%;
  margin: 0% 5%;
}

.talksButtonsTopPadding {
  padding-top: 1.5rem;
}

.techText {
  color: #9f0712;
}

.upArrow {
  width: 4%;
  height: auto;
  float: right;
}

.upArrowAbout {
  position: relative;
  top: -3vw;
  left: 5vw;
}

.weRiseImg {
  width: 50%;
}

.whiteText {
  color: white !important;
  margin: 1vw 0vw;
}

#aboutId {
  margin: 1rem 0rem;
}

#bookMeButton {
  position: relative;
  top: 5vh;
  left: 7%;
  padding: 3% 13%;
}

#contactButton {
  margin-top: 1vw;
}

#contactForm {
  background: transparent;
}

#contactInfo {
  position: relative;
  top: 6vw;
  color: white;
  width: max-content;
}

#contactLogo {
  position: relative;
}

#dropdown-item,
#dropdownItemSS {
  color: white !important;
  font-size: 1rem;
  // box-shadow: ;
}

#dropdown-item:hover {
  color: grey !important;
  background-color: transparent !important;
  text-decoration: none;
}

#dropdownItemSS:hover {
  color: gray !important;
  background-color: transparent !important;
  text-decoration: none;
}

#dropdownStyling {
  background-color: transparent;
  margin-top: 0.25rem;
  padding-left: 1rem;
}

#hamburger-nav {
  display: none;
}

#homeBackgroundColor {
  background-color: black;
  height: 105vh;
}

#nav-container {
  width: 60%;

  @include fadeDown;
}

#portfolio {
  background-color: black;
  height: 60vw;
}

#portfolioLinks {
  @include fadeUp;
}

#portfolioLinks a:hover {
  text-decoration: none;
}

#speaking {
  background: black;
  padding-top: 2vw;
  padding-bottom: 5vw;
  margin-top: 1rem;
  height: 100%;
}

#talksHeading {
  color: white;
  padding-top: 1%;
  width: 70%;
}

@media only screen and (max-width: 1700px) {

}

@media only screen and (max-width: 1400px) {
  // .footer {
  //   position: absolute;
  //   bottom: 0;
  // }

  #portfolio {
    height: 90vh;
  }
}

@media only screen and (max-width: 900px) {
  // footer {
  //   height: 0;
  // }

  .homeCenter {
    min-width: 100vw;
  }

  .aboutHeaders {
    font-size: 1.4rem;
  }

  .aboutText {
    font-size: 0.9rem;
    line-height: 1;
  }

  .aboutImgDiv {
    width: 100vw;
    height: 80%;
    position: absolute;
    padding: 2vw 20vw;
  }

  .aboutTextDiv {
    width: 100%;
    position: absolute;
    padding: 0 20%;
    top: 60vw;
    font-size: 2rem;
    color: white;
  }

  .buttonStyle {
    font-size: 0.8rem !important;
  }

  .carousel {
    width: 80% !important;
  }

  .carousel .control-dots {
    display: none;
  }

  .closeButton {
    right: -60%;
  }

  .contactBg {
    transform: rotateY(180deg);
  }

  .contact-form {
    margin: 50vw 50vw 20vw 50vw;
  }

  .contact-input {
    width: 50vw;
  }

  .copyrightTextFontSize {
    font-size: 1rem;
  }

  .footer {
    position: absolute;
  }

  .icons {
    padding-right: 2%;
  }

  .landingAbout {
    padding: 0;
  }

  .landingCenterText {
    top: 55%;
    font-size: 1.1rem;
  }

  .navbar-ss {
    margin-top: 0;
  }

  .noReverse {
    transform: rotateY(-180deg);
  }

  .portfolioPic {
    height: 30vw;
    width: 60vw;
  }

  .sidebar {
    height: 100vw;
  }

  .socialImg {
    width: 1.3rem;
  }

  #bookMeButton {
    top: 3vh;
  }

  #contactButton {
    background-color: white;
    color: #9f0712;
    margin-top: 5vw;
  }

  // #portfolioLinks {
  //   position: relative;
  //   top: 13vw;
  // }
}

@media only screen and (max-width: 988px) {
  .logo h1 a {
    top: 2vw;
  }
}

@media only screen and (max-width: 800px) {
  .sidebar {
    width: 40%;
    left: 60%;
  }
}

@media only screen and (max-width: 750px) {
  // button.control-arrow.control-next {
  //   display: none;
  // }

  .aboutTextDiv {
    top: 65vw;
  }

  // .carousel {
  //   top: -3vw;
  //   height: 37vw;
  // }

  .techText {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }

  .aboutTextDiv {
    top: 68vw;
  }

  .aboutHeaders {
    font-size: 1.2rem;
  }

  .contactBg {
    background-image: url(images/valContact-ss.jpg);
    transform: rotateY(0);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact-form {
    margin-top: 60vh;
  }

  .landingBg {
    background-image: url(images/vrlanding-med-mobile.jpg);
    height: 69vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .logo {
    width: 60%;
  }

  .logo h1 a {
    font-size: 6vw;
    top: 3.5vw;
    display: inline-block;
  }

  .landingCenterText {
    line-height: 1.5;
    top: 71vh;
  }

  .nav-link-ss {
    font-size: 1.2rem;
  }

  .noReverse {
    transform: rotateY(0);
  }

  // .carousel {
  //   top: -7vw;
  //   height:40vw;
  // }

  .row2 {
    margin: 0;
  }

  .talkLinks {
    width: 100%;
    height: fit-content;
  }

  .talksButtons {
    padding: 0% 3% 1% 3%;
  }

  .techText {
    font-size: 0.7rem;
  }

  #speaking {
    height: fit-content;
  }

  #talksBook {
    width: fit-content;
  }
}

@media only screen and (max-width: 500px) {
  .copyrightTextFontSize {
    font-size: 0.7rem;
  }

  .faIcons {
    padding-left: 0.6rem;
  }

  .icons {
    padding: 0;
  }

  .sidebar {
    width: 40%;
  }

  .socialImg {
    width: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .aboutHeaders {
    font-size: 1rem;
  }

  .aboutText {
    font-size: 0.85rem;
  }

  .aboutTextDiv {
    top: 74vw;
  }

  .nav-link-ss {
    font-size: 0.9rem;
  }

  .sidebar {
    width: 45%;
    left: 55%;
  }
}

@media only screen and (max-width: 1068px) {
  .navbar {
    padding: 0.5rem 0.25rem;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel-status {
    display: none !important;
  }

  #hamburger-nav {
    display: block;
  }

  #nav-container {
    display: none;
  }

  #portfolioLinks {
    position: relative;
    top: 9vw;
  }

  #speaking {
    height: 90vw;
  }
}

@media only screen and (max-width: 1000px) {
  #speaking {
    margin-top: 3rem;
  }

  #talksBrowse {
    width: fit-content;
  }
}

@media only screen and (max-width: 800px) {
  #portfolioLinks {
    top: 16vw;
  }

  #speaking {
    margin-top: 3rem;
    padding-top: 5rem;
    height: 105vw;
  }
}

@media only screen and (max-width: 750px) {
  .row2 {
    margin-top: 15vw;
  }
  .whiteText {
    padding-bottom: 10%;
    font-size: .85rem;
  }

  .row2 {
    margin-bottom: 50%;
  }

  #speaking {
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .carousel * {
    display: block;
  }

  .carousel .slide img {
    width: 100% !important;
    height: auto;
  }

  .carousel .slider-wrapper {
    height: 100vw;
    display: inline-block;
  }

  .portfolioCard {
    position: absolute;
    top: 65vw;
    left: 14%;
    width: 72%;
    border-left: none !important;
    text-align: center;
    overflow: auto;
  }

  .row2 {
    margin-bottom: 0;
    margin-top: 2vw;
  }

  #momAdvantage {
    height: 26vh;
  }

  #portfolioLinks {
    top: 5vw;
  }

  #properCare {
    height: 26vh;
  }
}

@media only screen and (max-width: 500px) {
  #portfolioLinks {
    top: 15vw;
  }
}

@media only screen and (max-width: 420px) {
  #dropdownItemSS {
    font-size: 0.7rem;
  }

  #portfolioLinks {
    top: 27vw;
  }
}

@media only screen and (min-width: 1400px) {
  .nav-link {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1800px) {
  .landingCenterText {
    top: 20%;
  }
}

@media only screen and (min-width: 2000px) {
  .copyrightTextFontSize {
    font-size: 1.6rem;
  }

  .nav-link {
    font-size: 1.8rem;
  }

  #dropdown-item {
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 600px) {
  footer {
    display: none;
  }

  .nav-link-ss {
    font-size: 1.1rem;
  }

  #portfolio {
    height: 150vh;
  }
}
